
<%= render "shared/errors", obj: @article %>

<%= form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-form-label" %>
    <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title of article" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-form-label" %>
    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

<div class="text-center"">
  <%= link_to "Cancel request and return to articles listing", articles_path %>
</div>
